/* OTR  CSS*/

/* OTR CSS */

.auth-bg{
  min-height: 80vh;

  background-image:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("../Assets/Login_Register_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  padding: 20px;
  width: 40%;
  margin: 100px auto;
  margin-top: 2%;

  text-align: center;
  font-family: Arial;

  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(8px);

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Steps */
.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 20px;
}

.step {
  text-align: center;
  transition: 0.3s;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: lightgray;
  line-height: 35px;
  margin: auto;
}

.active .circle {
  background: #2563eb;
  color: white;
  transform: scale(1.2);
}

.blur {
  opacity: 0.4;
  pointer-events: none;
}

.blur .circle {
  background: #e0e0e0;
  color: #999;
}

.blur p {
  color: #999;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  gap: 10px;
  width: 75%;
}

input,
button {
  padding: 10px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

/* OTP BOX */
.otp-box {
  padding-top: 20px;
  margin-top: 10px;
  animation: fadeIn 0.3s ease-in;
  gap: 2%;
}

/* Error Message */
.error-text {
  color: red;
}

.success-text {
  color: green;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}